treeGrass
{
	Grass component
	{
		grassWidth: 100.0000000 | floatType;
		grassHeight: 50.0000000 | floatType;
		grassTexture: data/grass.png | filePathType;
	}
}
treePalms
{
	Collada mesh component
	{
		meshFile: data/mesh/tree/palms.dae | filePathType;		
		defaultNode:  | stringType;
	}
}
treePalm
{
	Collada mesh component
	{
		meshFile: data/mesh/tree/Palm.dae | filePathType;
		defaultNode:  | stringType;
	}
}
treeMimosa
{
	Collada mesh component
	{
		meshFile: data/mesh/tree/Mimosa.dae | filePathType;
		defaultNode:  | stringType;
	}
}
treeBanyan
{
	Collada mesh component
	{
		meshFile: data/mesh/tree/BanyanTree.dae | filePathType;
		defaultNode:  | stringType;
	}
}
treeThin
{
	Collada mesh component
	{
		meshFile: data/mesh/tree/ThinTree.dae | filePathType;
		defaultNode:  | stringType;
	}
}
treeBanana
{
	Collada mesh component
	{
		meshFile: data/mesh/tree/BananaPlant.dae | filePathType;
		defaultNode:  | stringType;
	}
}
terrainLevel1
{
	Collada mesh component
	{
		meshFile: data/mesh/terrain/terrain.dae | filePathType;
		defaultNode: Plane01-node | stringType;
	}
	Terrain component
	{
	}
}
water
{
	Water component
	{
		sizeX: 800.0000000 | floatType;
		sizeY: 800.0000000 | floatType;
		waterTexture: data/water.tga | stringType;
		waterNormalTexture: data/waterNormal.tga | stringType;
	}
}
