water
{
	Water component
	{
		sizeX: 800.0000000 | floatType;
		sizeY: 800.0000000 | floatType;
		waterTexture: data/texture/water.tga | stringType;
		waterNormalTexture: data/texture/waterNormal.tga | stringType;
	}
}
levelMainMenu
{
	Collada mesh component
	{
		meshFile: data/mesh/environment/levelMainMenu/levelMainMenu.scene | filePathType;
		defaultNode: objobjxxx02-node | stringType;
	}
	Terrain component
	{
	}
}
