Water
{
	Water component
	{
		sizeX: 800.0000000 | floatType;
		sizeY: 800.0000000 | floatType;
		waterTexture: data/texture/water.tga | stringType;
		waterNormalTexture: data/texture/waterNormal.tga | stringType;
	}
}
PointLight
{
	Lighting component
	{
		diffuseColor: ffffff | stringType;
		specularColor: ffffff | stringType;
		strength: 1.0 | floatType;
		radius: 500.0000000 | floatType;
	}
}
LevelMainMenu
{
	Collada mesh component
	{
		meshFile: data/mesh/environment/levelMainMenu/levelMainMenu.scene | filePathType;
		defaultNode: objobjxxx02-node | stringType;
	}
	Terrain component
	{
		hideTerrain: false | boolType;
	}
}
LevelGameM1
{
	Collada mesh component
	{
		meshFile: data/mesh/environment/levelGameM1/levelGameM1.scene | filePathType;
		defaultNode:  | stringType;
	}
	Object property component
	{
		enableDirectionLight: false | boolType;
		enablePointLight: true | boolType;
	}
}
LevelGameM1Col
{
	Collada mesh component
	{
		meshFile: data/mesh/environment/levelGameM1/levelGameM1_col.scene | filePathType;
		defaultNode: col-node | stringType;
	}
	Terrain component
	{
		hideTerrain: true | boolType;
	}
}
LevelGameM2
{
	Collada mesh component
	{
		meshFile: data/mesh/environment/levelGameM2/Map1.scene | filePathType;
		defaultNode:  | stringType;
	}
	Object property component
	{
		enableDirectionLight: false | boolType;
		enablePointLight: true | boolType;
	}
	Object transform component
	{
		rotateX: 0.0000000 | floatType;
		rotateY: 0.0000000 | floatType;
		rotateZ: 0.0000000 | floatType;
		scaleX: 254 | floatType;
		scaleY: 254 | floatType;
		scaleZ: 254 | floatType;
	}
	Terrain component
	{
		hideTerrain: true | boolType;
	}
}
Player
{
	Collada mesh component
	{
		meshFile: data/mesh/character/hero/us_hawaii/us_hawaii.scene | filePathType;
		defaultNode:  | stringType;
	}
	Ellipsoid collision component
	{
	}
	Network player component
	{
	}
	Player component
	{
	}
}
SpawnPoint
{
	Box object component
	{
		size: 100.0000000 | floatType;
		textureFile: data/texture | filePathType;
	}
	Spawn point component
	{
		teamID: 0 | intType;
	}
}
