orge
{
	Anim mesh component
	{
		meshFile: data/mesh/dwarf.x | filePathType;
		animSpeed: 24.0000000 | floatType;
	}
}
lv1_terrain
{
	Static mesh component
	{
		meshFile: data/mesh/lv1_terrain.x | filePathType;
	}
}
lv1_skybox
{
	Skybox
	{
		skyTexture: data/skydome2.jpg | filePathType;
	}
}
